.allfoot{
	width: 100%;
	height: 250px;
	background-color: green;
}
.allfoot img{
	width: 100%;
	height: 100%;
}
.wangzhan_headlogo{
	height:150px;
}
.wangzhan_headlogo img{
	height: 100%;
	width: 100%;
}
.clear{
	clear: both;
}